* {
  margin: 0;
  padding: 0;
}

.head {
  overflow: hidden;
  clear: both;
  line-height: 48px;
}

header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background: #3b3b3b;
}

header .title_txt {
  text-align: center;
  font-size: 24px;
  color: #cecdcd;
  float: left;
}

.navi_list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  float: right;
}

.navi_items {
  list-style: none;
  margin: 0 10px;
  color: #cecdcd;
  float: left;
  position: relative;
}

.navi_list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #4759ff;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.navi_list li.current a,
.current a:hover {
  color: #4759ff;
}

.navi_list li.current a::after,
.navi_list li a:hover::after {
  transform: scale(1, 1);
}
p {
  max-width: 900px;
  margin: 0 auto;
  color: #cecdcd;
}

.container {
  background: #3b3b3b;
  font-size: 24px;
}

.parallax {
  background: url("../img/image1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
